* {
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #223344;
    --color-accent: #d4a04c;
    --color-primary-bg: #f5f3ef;
    --color-negative-bg: #223344; 
    --color-accent-bg: #d4a04c;
    --color-text: #2a2a2a;
    --color-accent-text: #d4a04c;
    --color-card-primary-bg: #ffffff;

    --box-shadow-base:  0 2px 8px 0 #223344;
    --box-shadow-card: 0 4px 0px 0 #14212f;

    --space-xsm: 8px;
    --space-sm: 16px;
    --space-base: 24px;
    --space-lg: 32px;
    --space-xl: 40px;
    --space-2xl: 48px;
    --space-4xl: 64px;

    --padding-for-circle_button: 9px 12px;

    --border-sides-accent-color: 1px solid #d4a04c;
    --border-sides-primary-color: 1px solid #223344;

    --border-radius-base: 16px;
    --border-radius-lg: 24px;
    --border-radius-xl: 32px;

    --font-family-title: 'Cormorant Garamond', Arial, sans-serif;
    --font-family-text: 'inter', Arial, sans-serif;

    --font-size-xsm: 10px;
    --font-size-sm: 13px;
    --font-size-base: 16px;
    --font-size-lg: 20px;
    --font-size-xl: 25px;
    --font-size-2xl: 31px;

    --line-height-title: 1.25;
    --line-height-text: 1.6;
}

body {
    max-width: 1240px;
    margin: 0px auto;
    padding: var(--space-4xl) var(--space-sm);
    background: var(--color-primary-bg);
    font-family: var(--font-family-text);
    font-size: var(--font-size-base);
    line-height: var(--line-height-text);
    color: var(--color-text);
}

h1, h2, h3 {
    font-family: var(--font-family-title);
    line-height: var(--line-height-title);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 50;
    top: 0;
    right: 0;
    left: 0;
    padding: 0 var(--space-base);
    background: var(--color-accent-bg);
    box-shadow: var(--box-shadow-base);
    
}

.header-logo-box {
    display: flex;
    align-items: center;
    gap: var(--font-size-base);
}

.header-logo {
    max-width: 50px;
    height: auto;
}

.header p {
    font-family: var(--font-family-title);
    font-size: var(--font-size-xl);
    line-height: var(--line-height-title);
    font-weight: 700;

}

.nav {
    max-width: 30px;
}

#burger-toggle {
    display: none;
}

#burger-toggle:checked ~ label::after {
    transform: rotate(45deg);
    bottom: 10px;
}

#burger-toggle:checked ~ label span {
    transform: scale(0);
}

#burger-toggle:checked ~ label::before {
    transform: rotate(-45deg);
    top: 12px;
}

.nav label {
    position: relative;
    display: block;
    height: 25px;
    width: 30px;
}

.nav label::after, .nav label::before, .nav label span {
    position: absolute;
    width: 100%;
    height: 3px;
    background: var(--color-text);
    transition: transform 0.3s ease;
}

.nav label::before {
    content: "";
    top: 0;
}

.nav label::after {
    content: "";
    bottom: 0;
}

.nav label span {
    top: 11px;
}

.nav-link {
    display: none;
    list-style: none;
}

.nav-link a {
    text-decoration: none;
    color: var(--color-text);
    font-size: var(--font-size-lg)  ;
}

.nav-link a:hover {
    text-decoration: underline;
}

#burger-toggle:checked ~ .nav-link {
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-xsm);
    top: var(--space-4xl);
    right: var(--space-xsm);
    padding: var(--space-sm);
    background: var(--color-accent-bg);
    border-radius: var(--border-radius-base);
    box-shadow: var(--box-shadow-base);
    animation: fadeInright 0.3s backwards;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero-image {
    object-fit: cover;
    max-width: 100%;
    height: 65vh;
    border-radius: var(--border-radius-xl);
}

.hero h1 {
    font-size: var(--font-size-2xl);
    margin: var(--space-sm) 0;
}

.CTA-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--space-sm);
    gap: var(--space-sm);
    font-size: var(--font-size-sm);
}

.CTA-box-button {
    display: flex;
    align-items: center;
    gap: var(--font-size-xsm);
}

.postscript:hover {
    text-decoration: underline;
}

.CTA-button {
    padding: var(--padding-for-circle_button);
    border-radius: 50%;
    border: none;
    background: var(--color-accent-bg);
    font-family: inherit;
    color: var(--color-text);
    transform: rotate(45deg);
    transition: transform 0.3s ease, background 0.3s ease;
}

.CTA-button:hover {
    transform: scale(1.1) rotate(45deg) translateY(-5px);
    background: var(--color-negative-bg);
    color: var(--color-accent-text);
}

.CTA-button:active {
    transform: scale(0.98) translateY(0) rotate(180deg);
}

.subtitle-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--space-base);
    margin: var(--font-size-xl) 0;
    border-radius: var(--border-radius-base);
    background: var(--color-accent-bg);
}

.subtitle {
    width: 18ch;
    padding: var(--space-xsm);
    border-right: var(--border-sides-primary-color);
    border-left: var(--border-sides-primary-color);
    border-radius: var(--border-radius-base);
    background: var(--color-primary-bg);
    font-size: var(--font-size-xl);
    text-align: center;
    text-transform: capitalize;
    color: var(--color-primary);
}

.subtitle-text {
    padding: 0 var(--space-xsm);
    max-width: 15ch;
    font-size: var(--font-size-base);
    text-align: center;
    color: var(--color-primary-bg);

}

.about-block {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: var(--space-base);
}

.about-block-card {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    padding: var(--space-sm);
    border-radius: var(--border-radius-base);
    box-shadow: var(--box-shadow-base);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-block-card:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: var(--box-shadow-base);
}

#card-primary-bg {
    background: var(--color-card-primary-bg);
}

#card-negative-bg {
    background: var(--color-negative-bg);
    color: var(--color-accent-text);
}

#card-accent-bg {
    background: var(--color-accent-bg);
    color: var(--color-primary);
}

#card-primary-bg-last {
    background: var(--color-card-primary-bg);
}

.about-block-text {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

.about-block-title {
    padding: var(--space-xsm) 0;
    border-bottom: var(--border-sides-primary-color);
    border-radius: var(--border-radius-base);
    font-size: var(--font-size-lg);
    text-align: center;
}

#card-negative-bg .about-block-title {
    border-bottom: var(--border-sides-accent-color);
}

.about-block-list {
    display: flex;
    flex-direction: column;
    gap: var(--space-xsm);
    list-style: none;
    font-size: var(--font-size-sm);
}

/* .about-block-image {
    width: 150px;
    height: auto;
} */

.about-block-image-box {
    padding: var(--space-2xl);
    background-image: url(images/architecture.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: var(--border-radius-xl);
}

#card-negative-bg .about-block-image-box {
    background-image: url(images/bridge.svg);
}

#card-accent-bg .about-block-image-box  {
    background-image: url(images/museum.svg);
}

#card-primary-bg-last .about-block-image-box {
    background-image: url(images/white-night.png);
}


@keyframes fadeInright {
    from {
        opacity: 0;
        transform: translateX(24px);
        
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }

}

@media (min-width: 900px) {
    .nav {
        max-width: 100%;
    }

    .nav label {
        display: none;
    }
    .nav-link {
        display: flex;
        align-items: center;
        gap: var(--space-base);
    }

    .nav-link a {
        border-right: var(--border-sides-primary-color);
        border-left: var(--border-sides-primary-color);
        padding: 0 var(--space-xsm);
    }
}
